@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body, html {
    height: 100%;
    overflow: hidden;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: url('IMG/inicio.jpg') no-repeat center center/cover;
}



h2 {
    font-size: 3.5em;
    color: #ffffff;
    text-align: center;
    margin-bottom: 50px;
}

.inputbox {
    position: relative;
    margin: 40px 0;
    width: 100%;
    border-bottom: 3px solid #000000;
}

.inputbox label {
    position: absolute;
    top: 30%;
    left: 10px;
    transform: translateY(-50%);
    color: #ffffff;
    font-size: 1.8em;
    pointer-events: none;
    transition: .5s;
}

.inputbox input {
    width: 100%;
    height: 80px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.8em;
    padding: 0 15px;
    color: #ffffff;
}

button {
    width: 100%;
    height: 80px;
    background: #1189da;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 2em;
    font-weight: 600;
    color: #ffffff;
    transition: background 0.5s;
}

button:hover {
    background: #0a40d6;
}

.register {
    font-size: 1.5em;
    color: #000000;
    text-align: center;
    margin: 50px 0 40px;
}

.register p a {
    text-decoration: none;
    color: #e9a513;
    font-weight: 600;
}

.register p a:hover {
    text-decoration: underline;
}


@media (max-width: 768px) {
    .form-box {
        padding: 60px;
    }

    .inputbox {
        width: 100%;
    }

    button {
        height: 70px;
    }
}
